# `magplots` Examples

In [1]:
# # Install if needed:
# pip install magplots

# from magplots.magFunctions import * # packaged version
from magFunctions import * # local version
import numpy as np
import datetime

/home/pliny/.local/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### `fill_nan()`: Fits a linear regression to NaN values in a vector.

In [2]:
y = np.array([40, 41, np.nan, 43, np.nan, 41])
fill_nan(y)

array([40.        , 41.        , 41.18644068, 43.        , 41.69491525,
       41.        ])

### `reject_outliers()`: Replaces outliers with NaN. (Used to eliminate power cycling artifacts.)

In [3]:
help(reject_outliers)

Help on function reject_outliers in module magFunctions:

reject_outliers(y)
    Function to reject outliers from a 1D dataset.

    Arguments:
        y      : 1D numpy array

    Returns:
        array with outliers replaced with NaN

In [4]:
reject_outliers(np.append(y, [-51e100, 41, 2, 45], axis=0))

array([40.        , 41.        , 41.18644068, 43.        , 41.69491525,
       41.        ,         nan, 41.        ,  2.        , 45.        ])

###  `magfetch()`: Pulls magnetometer data.

In [5]:
magfetch(start = datetime.datetime(2016, 1, 24, 0, 0, 0), end = datetime.datetime(2016, 1, 25, 0, 0, 0), 
    magname = 'pg1', 
    resolution = '1sec'
)

100% [..........................................................................] 8211855 / 8211855

{'UT': array([datetime.datetime(2016, 1, 24, 0, 0, 0, 1000),
        datetime.datetime(2016, 1, 24, 0, 0, 1, 1000),
        datetime.datetime(2016, 1, 24, 0, 0, 2, 1000), ...,
        datetime.datetime(2016, 1, 24, 23, 59, 57, 1000),
        datetime.datetime(2016, 1, 24, 23, 59, 58, 1000),
        datetime.datetime(2016, 1, 24, 23, 59, 59, 1000)], dtype=object),
 'UT_1': array([1.45359e+09, 1.45359e+09, 1.45359e+09, ..., 1.45368e+09,
        1.45368e+09, 1.45368e+09]),
 'MAGNETIC_NORTH_-_H': array([10.25, 10.5 , 10.75, ..., -9.87, -9.87, -9.99]),
 'MAGNETIC_EAST_-_E': array([-570.86, -571.11, -571.11, ..., -624.36, -624.36, -624.36]),
 'VERTICAL_DOWN_-_Z': array([61.98, 61.98, 61.98, ..., 77.29, 77.29, 77.29])}

###  `magfetchtgo`: Called by `magfetch` for Arctic magnetometers. Pulls data from the Tromsø Geophysical Observatory. Requires a password.
Save the password locally in the file tgopw.txt.

In [6]:
magfetch(is_verbose=True)

Found Tromsø Geophysical Observatory password.
Collecting data for atu from TGO.
Data for atu collected: 1441 samples.

{'UT': array([datetime.datetime(2016, 1, 24, 0, 0),
        datetime.datetime(2016, 1, 24, 0, 1),
        datetime.datetime(2016, 1, 24, 0, 2), ...,
        datetime.datetime(2016, 1, 24, 23, 58),
        datetime.datetime(2016, 1, 24, 23, 59),
        datetime.datetime(2016, 1, 25, 0, 0)], dtype=object),
 'MAGNETIC_NORTH_-_H': array([999.9999, 999.9999, 999.9999, ..., 999.9999, 999.9999, 999.9999]),
 'MAGNETIC_EAST_-_E': array([99999.9, 99999.9, 99999.9, ..., 99999.9, 99999.9, 99999.9]),
 'VERTICAL_DOWN_-_Z': array([99999.9, 99999.9, 99999.9, ..., 99999.9, 99999.9, 99999.9])}

###  `magdf()`: Function to create multi-indexable dataframe of all mag parameters for a given period of time. 
It can save .csv files as well. If `is_saved==True`, make sure you have a folder named `/output`. 
It will check to see if you have already generated a file before recreating it, but only if `is_saved==True`.

In [7]:
df = magdf(is_verbose = True, is_saved = True)

Pulling data for magnetometer: UPN
Pulling data for magnetometer: UMQ
Pulling data for magnetometer: GDH
Pulling data for magnetometer: ATU
Pulling data for magnetometer: SKT
Pulling data for magnetometer: GHB
Pulling data for magnetometer: PG0
100% [..........................................................................] 8212030 / 8212030
Pulling data for magnetometer: PG1
100% [..........................................................................] 8211855 / 8211855
Pulling data for magnetometer: PG2
100% [..........................................................................] 8211999 / 8211999
Pulling data for magnetometer: PG3
100% [..........................................................................] 8212011 / 8212011
Pulling data for magnetometer: PG4
100% [..........................................................................] 8212011 / 8212011
Pulling data for magnetometer: PG5
100% [..........................................................................] 8212028 / 8212028
Saving as a CSV.

In [8]:
magdf(is_verbose = True, is_saved = True)

Looks like output/2016-01-24 00:00:00_.csv has already been generated. Pulling data...

,Unnamed: 0,UT,Magnetometer,Bx,By,Bz
0,0,2016-01-24 00:00:00,UPN,999.9999,99999.90,99999.9
1,1,2016-01-24 00:01:00,UPN,999.9999,99999.90,99999.9
2,2,2016-01-24 00:02:00,UPN,999.9999,99999.90,99999.9
3,3,2016-01-24 00:03:00,UPN,999.9999,99999.90,99999.9
4,4,2016-01-24 00:04:00,UPN,999.9999,99999.90,99999.9
...,...,...,...,...,...,...
527041,86395,2016-01-24 23:59:55,PG5,17840.4000,-62.17,-46218.3
527042,86396,2016-01-24 23:59:56,PG5,17840.3000,-62.17,-46218.3
527043,86397,2016-01-24 23:59:57,PG5,17840.3000,-62.11,-46218.3
527044,86398,2016-01-24 23:59:58,PG5,17840.2000,-62.05,-46218.2
527045,86399,2016-01-24 23:59:59,PG5,17840.1000,-62.05,-46218.2